.app-container {
    display: flex;
    height: 100vh;
    background-color: #f5f3ff; /* Light purple background */
    flex-direction: column;
  }
  
  .chat-sidebar {
    width: 25%;
    padding: 10px;
    border-right: 1px solid #ccc;
    background-color: #f5f3ff;
  }

  .chat-panel {
    width: 75%;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }