@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overscroll-behavior: none;
  }
}

/* In base.css */
.wkit-connected-button {
  @apply !bg-dark-blue !text-gray-200 !border-none;
}

/* If needed, you might need to make it more specific */
div.wkit-connected-button,
button.wkit-connected-button,
.wkit-address-select {
  background-color: #1f2937 !important;
  color: rgb(229 231 235) !important;
  border: none !important;
}

/* For hover states */
div.wkit-connected-button:hover,
button.wkit-connected-button:hover,
.wkit-address-select__right-arrow:hover {
  background-color: #1f2937 !important;
}

.wkit-connected-button__balance {
  color: rgb(255 255 255) !important;
}

/* If needed, make it more specific */
span.wkit-connected-button__balance {
  color: rgb(255 255 255) !important;
}

.sui-object-card .rt-CardInner {
  @apply flex flex-col justify-between;
}