/* .chat-panel-container {
    width: 75%; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  } */
  
  .chat-panel {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .chat-recipient {
    color: black;
    font-size: 1.5rem;
    border-bottom: 0px solid #ccc;
  }
  .chat-header {
    font-weight: bold;
    padding: 25px;
    font-size: 1rem;
    margin-bottom: 16px;
  }
  
  .chat-messages {
    flex-grow: 1;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  
  .message {
    padding: 8px 12px;
    border-radius: 16px;
    max-width: 70%;
    font-size: 0.875rem;
  }
  
  .message.sent {
    background-color: #7c4dff;
    color: white;
    align-self: flex-end;
  }
  
  .message.received {
    background-color: #e5e7eb; /* Light gray */
    color: black;
    align-self: flex-start;
  }

  .message-input-container {
    width: 100%;
    padding: 8px;
    background-color: #f5f3ff;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    position: sticky; /* Ensure it stays at the bottom */
    bottom: 0;
  }

  .wallet-status {
    margin-bottom: 16px; /* Adds space below the wallet status */
    text-align: center;
}

  .wallet-info {
    color: black;
  }

  .transaction-status {
    color: gray;
  }
  
  .message-input {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%; 
    padding: 8px;
    background-color: #e6e6fa;
    border-radius: 24px;
  }
  
  .message-input-box {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    color: #333;
    border-radius: 24px;
  }
  
  .message-input-box::placeholder {
    color: #999;
  }
  
  .message-send-button {
    background: none;
    border: none;
    color: #666;
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  